.ccbox{
    border: 5px solid red;
     
}

.arow{
    background-origin:10px solid yellow;
}

.abox{
    height:60px;
    background-color:blue;
}

.bbox{
    height:60px;
    background-color:rebeccapurple;
}
.cbox{
    height:60px;
    background-color:green;
}
.dbox{
    height:60px;
    background-color:brown;
}
.ebox{
    height:60px;
    background-color:pink;
}
.fbox{
    height:60px;
    background-color:brown;
}